.container{
    width: 1000px;
    background-color: silver;
    margin: 0px auto;
    display: inline-block;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 15px 20px;
}
.side-nav {
    height: 300px;
    width: 230px;
    background-color: blue;
    display: inline-block;
    margin-left: 20px;
}
.main {
    height: 420px;
    width: 710px;
    background-color: red;
    float: right;
    margin: 0px 20px 20px 0px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-top: 15px;
    margin-left: 12px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    display: block;
    margin-top: 20px;
    margin-left: 12px;
}